/* COMMON */

body {
    color: #333333;
    /* 기본적으로 16px로 사용을 한다 */
    font-size: 16px;
    /* 글자의 두께를 400으로 지정하는 것 */
    font-weight: 400;
    /* 통상적인 1.4배로 사용을 하겟다는 의미 (행간 제공) */
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}


/* image가 현재 75px 이다. image 는 inline 요소이다. */


/* inline 요소는 기본적으로 baseline이라는 것을 바탕으로 그려진다 따라서 아래 여백이 생길 수 있다. */

img {
    display: block;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    background-color: royalblue;
}

header .inner {
    width: 1100px;
    height: 120px;
    /* 좌우만 자동으로 동작하게 변경을 해주는 것 중앙 정렬 - header에 중앙 정렬하는 것 */
    margin: 0 auto;
    background-color: orange;
    /* position에 대한 부모요소를 설정을 해주는 것 */
    position: relative;
}

header .logo {
    /* 위아래의 값을 알아야 가운데 배치가 가능하다. */
    height: 75px;
    /* 구조적인 부모의 요소에 대해서 absolute로 배치를 시키겠다는 의미이다. */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}

header .sub-menu {
    display: flex;
}

header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}


/* 가상요소를 추가하는 것이다. 가상요소는 기본적으로 inline요소이다. */

header .sub-menu ul.menu li::before {
    /* content라는 값이 없으면, before라는 가상요소는 만들어지지 않는다. */
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    /* absolute의 값이 있으면, 자동적으로 block 요소로 변경이된다. */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}


/* 가상 클래스 선택자를 설정하는 것 처음의  */

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color: #000000;
}

header .sub-menu .search {
    position: relative;
    height: 34px;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777777;
    font-size: 12px;
    /* 변환효과를 저장하는 것 가로의 값이 변환하는 속도를 지정해준 것이다. */
    transition: width .4s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}